.courses-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les cours */
  }
  
.course-item {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Espacement entre l'image et les détails */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
.course-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  
.course-details {
    flex: 1;
  }
  
.course-title {
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.course-description {
    color: #555;
    margin-bottom: 10px;
  }
  
.course-category,
.course-date {
    font-size: 14px;
    color: #777;
  }
  
.card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
.card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
.card-text {
    font-size: 0.95rem;
  }
  .card {
    height: 100%; /* Toutes les cartes auront une hauteur identique */
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex-grow: 1; /* Étire le contenu pour que toutes les cartes soient uniformes */
  }
  
  .card-img-top {
    object-fit: cover; /* Ajuste les images */
    height: 150px; /* Ajuste la hauteur des images */
  }
  